footer {
    color: #000;
    bottom: 0;
    position: fixed;
}
h1, h2{
    color:#FFF;
    font-family: 'Playfair Display SC', serif;
}

ul{
    color:#FFF;
}
body{
    background-color:#000;
    font-family: 'Playfair Display SC', serif;
}
.addBtn{
    color: #FFF;
    border: solid 1px white;
}
li{
   display: inline-block;
    text-decoration: none;
    /*float: right;*/
    /*clear: left;*/
    padding: 3px;
    font-family: 'Playfair Display SC', serif;
    margin-left: 20px;
}