body{
    background-color: #4eb848;
}

li{
   display: inline-block;
    text-decoration: none;
    /*float: right;*/
    /*clear: left;*/
    padding: 3px;
    font-family: 'Playfair Display SC', serif;
    margin-left: 20px;
}
h1{
    font-family: 'Playfair Display SC', serif;
    text-align: center;
}

ul{
    list-style: none;
    display: inline-table;
}

footer{
    color: #000;
}
