li{
    display: inline-block;
    text-decoration: none;
    /*float: right;*/
    /*clear: left;*/
    padding: 3px;
    font-family: 'Playfair Display SC', serif;
    margin-left: 20px;
}
h1{
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    color: #FFF;
}
body{
    background-color: #92080b;
    color: #d5d5d5;
}

footer {
    color: #000;
    bottom: 0;
    position: fixed;
}
select{
    color: #000;
}