<!DOCTYPE html>
<html lang="en">

<head>
    <title>To Do List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js.js"></script>
    <link rel="stylesheet" type="text/css" href="../templates/styles.css">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In (Coming Soon)</a>
                    </li>
                    <li role="presentation"><a href="#">Sign Up (Coming Soon)</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Are You On Time?</h3>
        </div>
    <div id="myDIV" class="header" style="list-style: none">
        <h2>My To Do List</h2>
        <input type="text" id="myInput" placeholder="Task">
        <span onclick="newElement()" class="addBtn">Add</span>
        </div>
    <ul id="myUL">

    </ul>



        <footer class="footer">
            <p>&copy; Randall Wyatt 2016</p>
        </footer>

    </div>
</body>

</html>